
@{
    ViewData["Title"] = "View5";
}
<div class="aHl"></div>
<div id=":np" tabindex="-1"></div>
<div id=":oe" class="ii gt">
    <div id=":od" class="a3s aXjCH ">
        <u></u>
        <div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#ffffff;height:100%!important;width:100%!important">
            <center>
                <table id="m_-4896009119075240052bodyTable" style="border-collapse:collapse;margin:0;padding:0;background-color:#ffffff;height:100%!important;width:100%!important" width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td id="m_-4896009119075240052bodyCell" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important" valign="top" align="center">

                                <table id="m_-4896009119075240052templateContainer" style="border-collapse:collapse;border:0" width="600" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" align="center">

                                                <table id="m_-4896009119075240052templatePreheader" style="border-collapse:collapse;min-width:100%;background-color:#f6f5f1;border-top:0;border-bottom:0" width="600" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-top:9px" valign="top"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">

                                                <table id="m_-4896009119075240052templateHeader" style="border-collapse:collapse;min-width:100%;background-color:#212e38;border-top:0;border-bottom:0" width="600" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding:0px" valign="top">
                                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center" valign="top">

                                                                                                <a href="http://r.sib1.albiononline.com/tr/cl/E7epCv1PkN9i7M7IYSNiJ644sRQ2hf4u9nEoO9U-wFGZwjYYh70k9WhTuGbB6nKtNIxb9hxSAM8c3ElREI7QPK1NH7vcO7dBvib3gGVN8cEolSDGz8rSys5ApbuwkLtjgn-kec-UHuTAqOgnCn_l0PgJLz15VL0R35nx8IPmCXW-5uVSUljM8-K2gMU_QQo" title="" style="word-wrap:break-word" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://r.sib1.albiononline.com/tr/cl/E7epCv1PkN9i7M7IYSNiJ644sRQ2hf4u9nEoO9U-wFGZwjYYh70k9WhTuGbB6nKtNIxb9hxSAM8c3ElREI7QPK1NH7vcO7dBvib3gGVN8cEolSDGz8rSys5ApbuwkLtjgn-kec-UHuTAqOgnCn_l0PgJLz15VL0R35nx8IPmCXW-5uVSUljM8-K2gMU_QQo&amp;source=gmail&amp;ust=1595762252471000&amp;usg=AFQjCNEczvwbiC4ptqJCCGFnCdC_s_77dQ">
                                                                                                    <img alt="Albion Online logo" src="https://ci5.googleusercontent.com/proxy/5tWdvazXh3yuObz-Gaxs1TMxRNAtqomsfLNgiWGW6q5au6bgMEsv-UGXqqz_x5nuIAuIQ1YZ3kYUdcyA5-NIftOYYN1Z6a6nSANUURWDJM4MzKNX2dr_H-RJQYnSpV4Z0tVvZ3ErRzxQ4eTeIRpkSKBVH54cNFo8bzkOlHITlNH5tOtMuSyYgrzOl1hItyxAeCuCNgbWfDwGNNOMF6Xjg6v4VDwlfLmtUILXeOReowa4TAgAB2QAJCXJsekxY0P3SVTmxtIcYMCrTyzVagjZYzIIrhcuNVdpqR5nAtHry4xMUxOvISIeHXl-hslzLGa0lLPRLUfUmIbqi6Tz5we7aZfWOvHZIVeB79WzHzAfffbXsmanNyglNJGjorIYykJfZJJQM47a1xv1iCUPSvOvKgNkNi8Le8fHT24VP-jF-G2cKS7SWfcCdFb9rsukn3iUN3Biq4BXuwrB_NNPYasWb7vqt0MsZSzWg0lp5ok-Gy84LLFb3nztGVtznppXJQvZ5lLHf0WjDbZGybhlTZCVFz5MxxK6wG7gO1wiEvU9oqxgAqALAJTVxlyYoWSgk2w=s0-d-e1-ft#http://img.sib1.albiononline.com/im/2718215/dadcc3e5eb77048d097e30d29ef97a72c3d7418e89eb143f74ca7faa13716e4d.png?e=k4KUH0-c9ggW49g-maDycRQTaT-f7gZLEGI0eh2idtIwk7JMOKSwCupJdIDKmq30wKWQBXx5Dj5hoy6TZ6bUKKeNfUHrcAT8Nyflb6GjWBhY1PRFlcylwkQPJKY0DfJS1RbtwCdE6IcNn-bHE5X-zIfQbWtubcOGHDIhJNxS3ZTT82D86a6I-CoAO3c8LwATEKj-F_HYyQVQUd0YlBwktyRr_6y09sDP-Z-VQz2vOj8NFf-0uBf7KKMKsJ5WSYpEsFyDEtZNCVkzm3bfNqu8ysKiz1uPLd3dRlP98SrZ" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd" width="600" align="middle">
                                                                                                </a>

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">

                                                <table id="m_-4896009119075240052templateBody" style="border-collapse:collapse;min-width:100%;max-width:600px;overflow:hidden;background-color:#f6f5f1;border-top:0;border-bottom:0" width="600" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top">
                                                                                <table style="min-width:100%;max-width:600px;overflow:hidden;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                    <tbody>
                                                                                        <tr>

                                                                                            <td style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#3b3a3a;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left" valign="top">
                                                                                                <p style="margin:1em 0;padding:0;color:#3b3a3a;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"><span style="font-family:helvetica,arial,sans-serif"><span style="font-size:15px"><span>Hello!</span></span></span></p>
                                                                                                <p style="margin:1em 0;padding:0;color:#3b3a3a;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left;word-wrap:break-word">
                                                                                                    <span style="font-family:helvetica,arial,sans-serif">
                                                                                                        <span style="font-size:15px">
                                                                                                            <span style="word-wrap:break-word">
                                                                                                                Are you logging into Albion Online using a new device or from another location? Please use the following code to complete the process:<br>
                                                                                                                <br>
                                                                                                                3CDYDW9<br>
                                                                                                                <br>
                                                                                                                If you haven't recently tried to login to Albion Online from the WindowsPlayer device located at 185.107.80.220 (NL), someone else may be trying to access your account.<br>
                                                                                                                <br>
                                                                                                                If you suspect someone else may be attempting to access your account, please either:<br>
                                                                                                                - Change your password immediately: <a href="https://albiononline.com/en/resetting/request" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://albiononline.com/en/resetting/request&amp;source=gmail&amp;ust=1595762252471000&amp;usg=AFQjCNFZbypYxVXZoX5w45rl4JvFHYH0NQ">https://albiononline.com/en/<wbr>resetting/request</a><br>
                                                                                                                - Contact our customer support team  at <a href="mailto:support@albiononline.com" target="_blank">support@albiononline.com</a>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top">

                                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                    <tbody>
                                                                                        <tr>

                                                                                            <td style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#3b3a3a;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left" valign="top">

                                                                                                <div>
                                                                                                    <span>
                                                                                                        <span style="font-size:15px">
                                                                                                            <span style="font-family:helvetica,arial,sans-serif">
                                                                                                                <span>
                                                                                                                    Regards,
                                                                                                                    Your Albion Online Team
                                                                                                                </span>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </span><br>
                                                                                                    &nbsp;
                                                                                                </div>

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">

                                                <table id="m_-4896009119075240052templateFooter" style="border-collapse:collapse;min-width:100%;background-color:#212e38;border-top:0;border-bottom:0" width="600" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-bottom:9px" valign="top">
                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top">

                                                                                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                    <tbody>
                                                                                        <tr>

                                                                                            <td style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#aaaaaa;font-family:Helvetica;font-size:9px;line-height:125%;text-align:center" valign="top">

                                                                                                <div style="text-align:center">
                                                                                                    <p style="margin:1em 0;padding:0;color:#aaaaaa;font-family:Helvetica;font-size:9px;line-height:125%;text-align:center">
                                                                                                        <span>
                                                                                                            Albion Online is a branch of Sandbox Interactive GmbH, Pappelallee 78, 10437 Berlin, E-Mail: <a href="mailto:info@sandbox-interactive.com" target="_blank">info@sandbox-interactive.com</a><br>
                                                                                                            Authorized representative directors: Mr. Robin Henkys, Court of registration:<br>
                                                                                                            Amtsgericht Berlin Charlottenburg, Register number: HRB 141903 B, VAT No.: DE283472167.<br>
                                                                                                            If you do not wish to receive any more Sandbox Interactive e-mails, please send a message to <a href="mailto:abuse@albiononline.com" target="_blank">abuse@albiononline.com</a><br>
                                                                                                            This email was sent to <a href="mailto:habib.pa98@gmail.com" target="_blank">habib.pa98@gmail.com</a>. You have received this email because you registered for Albion Online. This is an automatically generated email, please do not reply.<br>
                                                                                                            Copyright © 2017 Sandbox Interactive GmbH<br>
                                                                                                            Terms and Conditions: <a href="https://albiononline.com/en/terms_and_conditions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://albiononline.com/en/terms_and_conditions&amp;source=gmail&amp;ust=1595762252471000&amp;usg=AFQjCNH2EhTZo6Nk1KBf7HslFOpyYms1mA">https://albiononline.com/en/<wbr>terms_and_conditions</a> / Privacy Policy: <a href="https://albiononline.com/en/privacy_policy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://albiononline.com/en/privacy_policy&amp;source=gmail&amp;ust=1595762252471000&amp;usg=AFQjCNG_oJka8o0KjijVuhnGrIfqoAV4Gg">https://albiononline.com/en/<wbr>privacy_policy</a> / Consumer Information: <a href="https://albiononline.com/en/consumer-information" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://albiononline.com/en/consumer-information&amp;source=gmail&amp;ust=1595762252471000&amp;usg=AFQjCNHaIyVkhPfakfh9uz8cEnY-Wcu90g">https://albiononline.com/en/<wbr>consumer-information</a><br>
                                                                                                        </span>
                                                                                                    </p>
                                                                                                </div>

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <img src="https://ci5.googleusercontent.com/proxy/T2VpzM1TAPMDeXoO7xMIp7igDb9ee0kBaSqD5yyX7zZsef0nlPmvgq5ct6k76BjWuTJRuEAU8JbBvF92DrKctZVhETbZ-JCNMvphdx556nTb1R2_rxxyrCz9Tz6ytpp_aPfFIkjITMhPwh_hRhB5LpQyIl4BmixDQqPcCcoj9l1gDuIC5SrZmy1yFFtNN1-fhTg3gWOqoqMYI1KPmGeHwT9B7utczwc213vxIooytvGRGR79aoC_Rno96kyb1TTZZw=s0-d-e1-ft#http://r.sib1.albiononline.com/tr/op/XdH1Az1oUKzdVISpP5xW8UTZGuj-3pJpyeRlZPtdV5MMFyRpYSFHzdQGvGhFZptdrp_Q_-O9FTNjS2A2zVv4XGFkdN606YE2Xgov4426713BNN3N9S1fY73vXZx7gfTLrz8ddvjg" alt="" class="CToWUd" width="1" height="1">
        </div><div class="yj6qo"></div><div class="adL">


        </div>
    </div>
</div><div id=":nt" class="ii gt" style="display:none"><div id=":ns" class="a3s aXjCH undefined"></div></div><div class="hi"></div>