@model IEnumerable<SadafStore.Core.DTOs.ProductViewModels.ShowProductListViewModel>
@{
    ViewData["Title"] = "جستجو";
}

<div class="shop_area shop_reverse">
    <div class="container">
        <form action="/Product" method="get">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_list widget_categories">
                            <h3>دسته های محصولات</h3>
                            <ul>
                                <li><a href="#">دوربین عکاسی و فیلمبرداری</a></li>
                                <li class="widget_sub_categories">
                                    <a href="javascript:void(0)">کامپیوتر و شبکه</a>
                                    <ul class="widget_dropdown_categories">
                                        <li><a href="#">کامپیوتر</a></li>
                                        <li><a href="#">ابزار شبکه</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="widget_list widget_filter">
                            <h3>فیلتر با قیمت</h3>
                            <form action="#">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 14%; width: 66%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 14%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 80%;"></span></div>
                                <input type="text" id="amount">
                                <button type="submit">فیلتر</button>
                                <input type="hidden" id="price-min" name="price_min" value="700000">
                                <input type="hidden" id="price-max" name="price_max" value="4000000">
                            </form>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">

                    <!--shop banner area start-->
                    <div class="shop_banner_area mb-30">
                        <div class="row">
                            <div class="col-12">
                                <div class="shop_banner_thumb">
                                    <img src="img/bg/banner16.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--shop banner area end-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">
                            @*<button data-role="grid_4" type="button" class=" active btn-grid-4" data-toggle="tooltip" title="4"></button>*@
                            <button data-role="grid_list" type="button" class=" active btn-list" data-toggle="tooltip" title="List"></button>
                        </div>
                        <div class="niceselect_container">

                            <label>مرتب کردن براساس:</label>
                            <select class="select_option" name="orderBy" id="short" >
                                <option value="all">همه محصول‌ها</option>
                                <option value="buy">قیمت محصول</option>
                                <option value="free">رایگان</option>
                                <option value="new">محصول جدید</option>
                                <option value="old">محصول قدیمی</option>
                            </select>
                        </div>
                        <div class="page_amount">
                            <p>نمایش 1-9 از 21 محصول</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper start-->

                    @foreach (var item in Model)
                    {
                        <partial name="_BoxCardList" model="@item" />
                    }

                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">بعدی</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </form>
    </div>
</div>


