@model SadafStore.DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>
        @Model.UserName عزیز
    </h2>
    <p>
        برای تغییر کلمه عبور به لینک زیر بروید:
    </p>
    <p>
        <a href="https://localhost:44362/Account/ResetPassword/@Model.ActiveCode">
            لینک تغییر
        </a>
    </p>
</div>