@model SadafStore.Core.DTOs.UserPanelViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/UserPanel">داشبورد</a></li>
                        <li>تغییر کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="account_page_bg">
    <div class="container">
        <section class="main_content_area">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <partial name="_NavTabs" />
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="" id="account-details">
                                <h3>تغییر کلمه عبور </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form asp-action="ChangePassword" method="post">

                                                <br>
                                                <label>کلمه عبور فعلی</label><span asp-validation-for="OldPassword"></span>
                                                <input class="my-input-bg" asp-for="OldPassword" type="password" placeholder="کلمه عبور فعلی خود را وارد کنید.">

                                                <label>کلمه عبور جدید</label><span asp-validation-for="NewPassword"></span>
                                                <input class="my-input-bg" asp-for="NewPassword" type="password" placeholder="کلمه عبور جدید خود را وارد کنید.">

                                                <label>تکرار کلمه عبور جدید</label><span asp-validation-for="ReNewPassword"></span>
                                                <input class="my-input-bg" asp-for="ReNewPassword" type="password" placeholder="تکرار کلمه عبور جدید خود را وارد کنید.">

                                                <br>
                                                <div class="save_button primary_btn default_button">
                                                    <button type="submit">ذخیره کلمه عبور جدید</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



