@model SadafStore.Core.DTOs.ForgotPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>بازیابی کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                </div>
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>بازیابی کلمه عبور</h2>

                        @if (ViewBag.IsSuccess == true)
                        {
                            <div class="alert alert-success">
                                <p class="">
                                    ایمیلی حاوی لینک بازیابی کلمه عبور برای شما ارسال شد.
                                </p>
                            </div>
                        }

                        <form asp-action="ForgotPassword" method="post">
                            <p>
                                <label> ایمیل <span>:</span></label>
                                <input asp-for="Email" type="email" dir="ltr">
                            </p>
                            <span asp-validation-for="Email"></span>
                            
                            <div class="login_submit">
                                <button type="submit">دریافت ایمیل بازیابی</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div>
</div>
