@model SadafStore.Core.DTOs.ResetPasswordModelView
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>تغییر کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                </div>
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>تغییر کلمه عبور</h2>

                        <form asp-action="ResetPassword" method="post">
                            
                            <input type="hidden" asp-for="ActiveCode" />

                            <p>
                                <label>کلمه عبور جدید<span>:</span></label>
                                <input asp-for="Password" type="password" dir="ltr">
                            </p>
                            <p>
                                <label>تکرار کلمه عبور جدید<span>:</span></label>
                                <input asp-for="RePassword" type="password" dir="ltr">
                            </p>

                            <div asp-validation-summary="All" class="text-danger">

                            </div>

                            <div class="login_submit">
                                <button type="submit">ثبت تغییر کلمه عبور</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div>
</div>

