

<header>
    <div class="main_header">
        <div class="container">
            <!--header top start-->
            <div class="header_top">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5">
                        <div class="antomi_message">
                            <p>
                                ارسال کالا به تمام نقاط کشور
                                |
                                تلفن تماس: <a class="ltr-text" href="tel:+(+98)1143238386">(+98) 1143 238 386 </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="header_top_settings text-right">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/UserPanel">@User.Identity.Name عزیز</a></li>
                                    <li><a href="/admin">پنل مدیریت</a></li>
                                    <li><a href="/Logout">خروج</a></li> }
                                else
                                {
                                    <li><a href="/Register">ثبت نام</a></li>
                                    <li><a href="/Login">ورود</a></li>}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle sticky-header">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6">
                        <div class="logo">
                            <a href="/"><img src="/img/logo/home-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="main_menu menu_position text-center">
                            <nav>
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="/UserPanel/">حساب کاربری</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="/AboutUs/">درباره ما</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="/ContactUs/"> تماس با ما</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        @*<partial name="ShowMiniOrder"  />*@
                    </div>
                </div>
            </div>
            <!--header middel end-->
        </div>
    </div>
</header>