<header>
    <div class="main_header">
        <div class="container">
            <!--header top start-->
            <div class="header_top">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5">
                        <div class="antomi_message">
                            <p>
                                ارسال رایگان - در آمل
                                |
                                تلفن تماس: <a class="ltr-text" href="tel:+(+98)800456789">(+98) 800 456 789 </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="header_top_settings text-right">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/UserPanel">@User.Identity.Name عزیز</a></li>
                                    <li><a href="/admin">پنل مدیریت</a></li>
                                    <li><a href="/Logout">خروج</a></li>
                                }
                                else
                                {
                                    <li><a href="/Register">ثبت نام</a></li>
                                    <li><a href="/Login">ورود</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle sticky-header">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6">
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="main_menu menu_position text-center">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="index.html">خانه<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu">
                                            <li><a href="index.html">خانه فروشگاه 1</a></li>
                                            <li><a href="index-2.html">خانه فروشگاه 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega_items">
                                        <a href="shop.html">فروشگاه<i class="fa fa-angle-down"></i></a>
                                        <div class="mega_menu">
                                            <ul class="mega_menu_inner">
                                                <li>
                                                    <a href="#">طرح های فروشگاه</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">تمام عرض</a></li>
                                                        <li><a href="shop-fullwidth-list.html">تمام عرض لیست</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">سایر صفحات</a>
                                                    <ul>
                                                        <li><a href="cart.html">سبد خرید</a></li>
                                                        <li><a href="wishlist.html">لیست علاقه‌مندی‌ها</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">انواع محصول</a>
                                                    <ul>
                                                        <li><a href="product-details.html">جزئیات محصول</a></li>
                                                        <li><a href="product-sidebar.html">محصول با نوار کناری</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog.html">بلاگ<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="blog-details.html">جزئیات مطلب بلاگ</a></li>
                                            <li><a href="blog-fullwidth.html">بلاگ تمام عرض</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contact.html"> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="header_configure_area">
                            <div class="header_wishlist">
                                <a href="wishlist.html">
                                    <i class="ion-android-favorite-outline"></i>
                                    <span class="wishlist_count">3</span>
                                </a>
                            </div>
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="cart_price"><span>152,000 تومان</span> <i class="ion-ios-arrow-down"></i></span>
                                    <span class="cart_count">2</span>

                                </a>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="mini_cart_inner">
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="/img/s-product/product.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">گوشی هوشمند سامسونگ A50</a>
                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="/img/s-product/product2.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">صندلی آشپزخانه پلاستیکی Nilper</a>
                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_table">
                                        <div class="cart_total">
                                            <span>جمع اجزا:</span>
                                            <span class="price">138,000 تومان</span>
                                        </div>
                                        <div class="cart_total mt-10">
                                            <span>جمع کل:</span>
                                            <span class="price">138,000 تومان</span>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="cart.html">مشاهده سبد</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html">پرداخت</a>
                                        </div>

                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header middel end-->
        </div>
    </div>
</header>